<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CustomIdentity_Core</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha256-eSi1q2PG6J7g7ib17yAaWMcrr5GrtohYChqibrV7PBE=" />
    </environment>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="NewsDetails" asp-action="Index" style="font-size:30px; font-weight:bold">সংবাদ প্রতিদিন</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    @await Html.PartialAsync("_LoginPartial")
                    <ul class="navbar-nav flex-grow-1">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NewsDetails" asp-action="NationalNews">বাংলাদেশ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NewsDetails" asp-action="International">আন্তর্জাতিক</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="NewsDetails" asp-action="Sports">খেলা</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="#" asp-action="#">বিনোদন</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="#" asp-action="#">বিজ্ঞান ও প্রযুক্তি</a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
    </header>


    <div class="text-center" style="background-color:aquamarine">
        <h1 class="display-4">স্বাগতম অ্যাডমিন </h1>
    </div>
    <div id="Container">
        <div id="SideBar" style=" min-height:20px; " >

            <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3" style="padding-left:90px">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item" style="float:left">
                            <a style="border-radius:30px; padding:3px" class="nav-item btn-success" asp-area="" asp-controller="NewsDetails" asp-action="Create">সংবাদ যুক্ত করুন</a>
                        </li>
                        <li class="nav-item" style="float:left">
                            <a style="border-radius:30px; padding:3px" class="nav-item btn-success" asp-area="" asp-controller="NewsCategories" asp-action="Create">ক্যাটাগরি যুক্ত করুন</a>
                        </li>
                        <li class="nav-item" style="float:left">
                            <a style="border-radius:30px; padding:3px" class="nav-item btn-success" asp-area="" asp-controller="NewsCategories" asp-action="Index">ক্যাটাগরি এর তালিকা </a>
                        </li>
                        <li class="nav-item" style="float:left">
                            <a style="border-radius:30px; padding:3px" class="nav-item btn-success" asp-area="" asp-controller="NewsDetails" asp-action="ManageNews">সংবাদ ম্যানেজ  করুন</a>
                        </li>
                    </ul>
                </nav>             
            </form>
        </div>
        <div id="Content" style=" min-height:500px; width:100%;  padding-left: 90px">
            @RenderBody()
        </div>
    </div>
    

    @*<footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2019 - CustomIdentity_Core - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>*@

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha256-E/V4cWE4qvAeO5MOhjtGtqDzPndRO1LBk8lJ/PR7CA4=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
